{% extends "layout.html" %}

{% block title %}Détails de l'utilisateur {{user.id_user}}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      Fiche de l'utilisateur :
      {% for row in user %}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{row.prenom}} {{row.nom}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">ID : {{row.id_user}}</h6>
          <p class="card-text">Date de naissance : {{row.naissance}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}